<div style="height: 150%">
    {% extends 'base.html' %}
    {% block page %}
        <h1>Инфо клиента</h1>
        <div>Имя: {{object.name}}</div>
        <div>Фамилия: {{object.last_name}}</div>
        <div>Адрес: {{object.address}}</div>
        <div>Контакты: {{object.contacts}}</div>
        <div>Активный заказчик: {{object.is_active}}</div>
        <div>Фото:
            {% if client.photo %}
                <img src="{{client.photo.url}}"/>
            {% else %}
                <span>Нет фото</span>
            {% endif %}
        </div>
        <br/>
        <a href="{% url 'update-delete' client.id %}" class="btn btn-info">Редактировать</a>
        <a href="{% url 'client-delete' client.id %}" class="btn btn-danger">Удалить</a>
    {% endblock %}
</div>