<div class="register" style="height: 150%">
    {% extends 'base.html' %}
    {% block page %}
    {% load bootstrap5 %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-4 offset-4">
                <h1>Регистрация</h1>
                <div class="form-floating mb-3 mt-3">
                {% bootstrap_form form %}
                </div>
                    <button type="submit" class="btn btn-info btn-block">Регистрация</button>
            </div>
        </div>
    </form>
    {% endblock %}
</div>


